<app-logout></app-logout>

<h1 id="groupHeader">My Group</h1>

<a routerLink="/" id="homeRedirect">Return to search page</a>

<ul>MAL users in my group:
  <li *ngFor = "let name of userNames">
    {{name}}
    <button (click)="removeUser(name)">X</button>
  </li>
</ul>

<br>
<br>



<ul>
  <li *ngFor = "let show of showsTitles">
    <img src="{{groupShows[show].image}}" alt="">
    <div>{{groupShows[show].title}}</div>
    <!-- <div>{{groupShows[show].score}}</div> -->
    <div>Group score: {{groupShows[show].groupScore}}</div>
    <div># of users who watched this show: {{groupShows[show].userCount}}</div>
    <br>
  </li>
</ul>

