<app-logout></app-logout>

<div id="headerWrap">
  <h1 id="groupHeader">My Group</h1>
  <a routerLink="/" id="homeRedirect">Return to search page</a>
  <div id="usersBox">
    <div id="boxInfo">
      MAL users in group:
    </div>
    <div *ngFor="let name of userNames" class="nameCard">
      <li class="userNames">
        {{name}}
        <a (click)="removeUser(name)" class="removeButton">X</a>
      </li>
    </div>
  </div>
</div>

<br>
<br>

<div *ngIf="loading ===true" id="loader">
  Now Loading...
  <img src="../../../assets/goku_charge.gif" alt="">
</div>

<div id="wrapper">
  <div id="groupCardWrap">
    <div *ngFor="let show of showsTitles" class="groupCard">
      <img src="{{groupShows[show].image}}" alt="">
      <div class="groupTitle">{{groupShows[show].title}}</div>
      <div class="groupScore">Group score: {{groupShows[show].groupScore}}</div>
      <div class="groupCount"># of users who watched this show: {{groupShows[show].userCount}}</div>
      <br>
    </div>
  </div>
</div>

<img src="../../../assets/Actions-go-up-icon-tiny.png" (click)="scrollUp()" id="scrollButton">
