<form id="loginForm">
  <h3 id="loginHead">Login as existing user</h3>
  <br>
  <input type="text" name="username" placeholder="Username" [(ngModel)]="userData.username" id="loginName">
  <br>
  <input type="password" name="password" placeholder="Password" [(ngModel)]="userData.password" id="loginPassword">
  <br>
  <button (click)="submit($event)" id="loginButton">Submit</button>
  <br>
  <div *ngIf="error === true" id="loginError">Invalid username or password</div>
</form>
<a id="loginLinkWrap">
  <div routerLink="/" id="loginRouter">Return to home page</div>
</a>
