<app-logout></app-logout>

<div style="text-align:center">
  <div id="homeTitle">
    Welcome to
    <div>{{ title }}</div>
  </div>

  <div id="subtitle">a MyAnimeList aggregator app</div>
</div>

<br>


<div id="homeNavWrapper">
  <a routerLink="/login" id="login">
    <div>Login</div>
  </a>

  <a routerLink="/register" id="register">
    <div>Register</div>
  </a>
</div>

<a id="groupLinkWrapper">
  <div id="myGroup" routerLink="/group">View my group</div>
</a>

<form id="searchForm">
  <h3 id="homeInfo">Search for a MAL user to bring up their list of shows:</h3>
  <input type="text" name="name" placeholder="MAL username" [(ngModel)]="malUser.name" id="userSearch">
  <br>
  <button (click)="findUser()" id="searchButton">Search</button>
</form>

<br>
<br>

<h3 *ngIf="hasData === false" id="invalidUser">Could not find MAL user with that name, or their list is not public</h3>
<div *ngIf="hasData === true" id="userWrapper">
  <div id="userNameHeader">Displaying list for MAL user</div>
  <div id="userName">{{user.name}}</div>
  <button (click)="addUser()" id="addUserButton">Add user to my group</button>
</div>


<div *ngIf="hasData === true" id="wrapper">
  <div id="userCardWrapper">
    <div *ngFor="let show of userSeries" class="userCard">
      <img src="{{show.series_image}}" alt="">
      <div class="userTitle">{{show.series_title}}</div>
      <div class="userScore"> Score: {{show.my_score}}</div>
      <div class="userEpisodes"> Episodes watched: {{show.my_watched_episodes}}/{{show.series_episodes}}
      </div>
    </div>
  </div>
</div>

<img src="../../../assets/Actions-go-up-icon-tiny.png" (click)="scrollUp()" id="scrollButton" alt="">
