#homeTitle {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    margin-top: 40px;
  }
  @media only screen and (min-width: 1025px) {
    margin-top: 60px;
  }
}

#homeNavWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    margin-top: 30px;
  }
  @media only screen and (min-width: 1025px) {
    margin-top: 40px;
  }
  a {
    margin: 0px 15px;
    text-decoration: none;
    color: blue;
    font-size: 20px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      font-size: 30px;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 35px;
    }
  }
}

#groupLinkWrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  text-decoration: none;
  #myGroup {
    color: blue;
    font-size: 20px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      font-size: 30px;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 35px;
    }
  }
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    margin-top: 60px;
  }
  @media only screen and (min-width: 1025px) {
    margin-top: 150px;
  }
  #homeInfo {
    text-align: center;
    font-size: 20px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 85%;
      font-size: 25px;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 30px;
    }
  }
  #userSearch {
    width: 80%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 65%;
      height: 30px;
      font-size: 20px;
    }
    @media only screen and (min-width: 1025px) {
      width: 45%;
      height: 30px;
      font-size: 23px;
    }
  }
  #searchButton {
    border-radius: 5px;
    background-color: lightblue;
    box-shadow: 1px 1px #6E6B6A;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 10%;
      height: 30px;
      font-size: 20px;
    }
    @media only screen and (min-width: 1025px) {
      width: 15%;
      height: 30px;
      font-size: 23px;
    }
  }
}

#invalidUser {
  color: red;
  text-align: center;
}

#userWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  #userNameHeader {
    text-align: center;
    font-size: 20px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      font-size: 25px;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 30px;
    }
  }
  #userName {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      font-size: 40px;
    }
    @media only screen and (min-width: 1025px) {
      font-size: 45px;
    }
  }
  #addUserButton {
    border-radius: 5px;
    background-color: lightblue;
    box-shadow: 1px 1px #6E6B6A;
  }
}

#userCardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .userCard {
    padding: 3px 3px 3px;
    width: 29%;
    margin-bottom: 15px;
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px #6E6B6A;
    border: 1px ridge red;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      padding: 8px 8px 5px;
      width: 21%;
      font-size: 18px;
      box-shadow: 4px 4px 3px #6E6B6A;
      border: 3px ridge red;
    }
    @media only screen and (min-width: 1025px) {
      padding: 10px 10px 5px;
      width: 17%;
      font-size: 22px;
      box-shadow: 5px 5px 5px #6E6B6A;
      border: 5px ridge red;
    }
    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 5px;
    }
    .userTitle {
      width: 100%;
      font-size: 2vh;
      overflow-wrap: break-word;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 80%;
        font-size: 2vh;
      }
      @media only screen and (min-width: 1025px) {
        font-size: 3vh;
      }
    }
  }
}
