<div style="text-align:center">
  <h1 id="homeTitle">
    Welcome to the {{ title }}
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<div id="homeNavWrapper">
  <a routerLink="/login" id="login">
    <div>Login</div>
  </a>

  <a routerLink="/register" id="register">
    <div>Register</div>
  </a>
</div>

<form id="searchForm">
  <h3 id="homeInfo">Get started by searching for a MAL user to bring up their list of shows:</h3>
  <input type="text" name="name" placeholder="MAL username" [(ngModel)]="malUser.name" id="userSearch">
  <br>
  <button (click)="submit($event)" id="searchButton">Search</button>
</form>

<br>
<br>

<h3 *ngIf="hasData === false" id="invalidUser">Could not find MAL user with that name, or their list is not public</h3>
<div *ngIf="hasData === true" id="userWrapper">
<div id="userNameHeader">Displaying list for MAL user</div>
<div id="userName">{{user.name}}</div>
<button (click)="addUser()" id="addUserButton">Add user to my group</button>
</div>


<div *ngIf="hasData === true" id="userCardWrapper">
  <div *ngFor="let show of userSeries" class="userCard">
    <img src="{{show.series_image}}" alt="">
    <div class="userTitle">{{show.series_title}}</div>
    <div class="userScore"> Score: {{show.my_score}}</div>
    <div class="userEpisodes"> Episodes watched: {{show.my_watched_episodes}}/{{show.series_episodes}}
    </div>
  </div>
</div>
