/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Righteous';
  // background-image: url(https://i.imgur.com/EVQaC5F.jpg); // shigatsu
  // background-image: url(https://i.imgur.com/tjhUMrN.jpg); // eva
  background-image: url(https://i.imgur.com/bjlCGMv.jpg); // gurren
  // background-image: url(https://i.imgur.com/XG6xR9e.jpg); // 5cm
  // background-image: url(https://i.imgur.com/NZ9sEUw.jpg); // AoT
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}
